<section class="home-section" id="home">
    <div class="container">
        <h1 class="visually-hidden">Unlimited Wishes</h1>
        <div class="home-wrapper">
        <p class="home-big-text">Here's the thing about luck - it's like trying to catch a cat. The harder you chase it, the faster it runs away.</p>
        <p class="home-text">Somewhere between sleep and wakefulness, a quiet valley reveals itself.<br class="desk"/> Not all at once — only to those who slow down
        enough to notice. Here, the Seven Spirits observe rather than command.<br class="desk" /> They're into patience and going with the flow
        rather than forcing things. There’s no rush here.<br class="mob"/>
        And that’s exactly the point.</p>
        </div>
        <a class="home-btn btn" href="#demo">
            <p>Enter Gently</p>
        </a>
    </div>
</section>