.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 48px 16px;
    background: #8bbded;
    z-index: 1000;
    width: 100%;
    height: auto;
    display: none;
}

.cookie-class {
font-family: "Grenze", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #0b1930;

}

.cookie-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
width: 246px;
    height: 41px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}

.btn-accept {
border-radius: 12px;
    padding: 10px;
    width: 110px;
    height: 41px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #0b1930;
    box-sizing: border-box;
    border: none;
font-family: "Grenze", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fdfdfd;

}

.btn-decline {
    border: none;
border-bottom: 1px solid #0b1930;
    padding: 10px;
    width: 116px;
    height: 41px;
    opacity: 0.8;
font-family: "Grenze", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #0b1930;
    box-sizing: border-box;
    background-color: inherit;
}


@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 56px 57px;
        width: 1439px;
        height: auto;
    }

    .popup-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .cookie-class {
        width: 100%;

    }

    .cookie-buttons {
        margin-top: 0;
        width: 376px;
        height: 40px;
        gap: 80px;
    }

}