.footer-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.footer-navigation{
  display: flex;
  gap: 32px;
  font-family: "Grenze", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #000;
}
@media only screen and (min-width: 1440px) {
  .footer-container{
    padding-left: 64px;
    padding-right: 64px;
  }
  .footer-wrapper{
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer-navigation{
    gap: 8px;
  }
}